@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.cdnfonts.com/css/socake);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.cdnfonts.com/css/socake);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap);
@import url(https://fonts.cdnfonts.com/css/socake);
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

.app-container[data-v-478fa712] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrapper[data-v-478fa712] {
  flex: 1;
}
#sidemenu nav[data-v-478fa712] {
  width: 200px;
  background: var(--background-color-green-mute);
  position: fixed;
  box-shadow: var(--panel-shadow);
  top: 75px;
  left: 0;
  z-index: 99;
}
.sidemenu__btn[data-v-478fa712] {
  display: block;
  width: 50px;
  height: 50px;
  background: var(--background-color-green-dark);
  border: 1px solid var(--background-color-green-dark);
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: none;
}
.sidemenu__btn span[data-v-478fa712] {
  display: block;
  width: 20px;
  height: 2px;
  margin: auto;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease;
}
.sidemenu__btn span.top[data-v-478fa712] {
  transform: translateY(-8px);
}
.sidemenu__btn span.bottom[data-v-478fa712] {
  transform: translateY(8px);
}
.sidemenu__btn.active .top[data-v-478fa712] {
  transform: rotate(-45deg);
}
.sidemenu__btn.active .mid[data-v-478fa712] {
  transform: translateX(-20px) rotate(360deg);
  opacity: 0;
}
.sidemenu__btn.active .bottom[data-v-478fa712] {
  transform: rotate(45deg);
}
.sidemenu__wrapper[data-v-478fa712] {
  padding-top: 50px;
}
.sidemenu__list[data-v-478fa712] {
  padding-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidemenu__item a[data-v-478fa712] {
  text-decoration: none;
  line-height: 1.6em;
  font-size: 1.6em;
  padding: 0.5em;
  display: block;
  transition: 0.4s ease;
}
.sidemenu__item a[data-v-478fa712]:hover {
  background: var(--background-color-green-light);
  border: 1px solid var(--background-color-green-dark);
}
.translateX-enter[data-v-478fa712] {
  transform: translateX(-200px);
  opacity: 0;
}
.translateX-enter-active[data-v-478fa712],
.translateX-leave-active[data-v-478fa712] {
  transform-origin: top left 0;
  transition: 0.2s ease;
}
.translateX-leave-to[data-v-478fa712] {
  transform: translateX(-200px);
  opacity: 0;
}


.home[data-v-3d2b440e] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header_panel[data-v-3d2b440e] {
  width: 35%;
}
#header_panel h1[data-v-3d2b440e] {
  font-family: var(--header-font);
  font-size: 32px;
  text-align: center;
  color: var(--font-color);
}
.product_details_container[data-v-3d2b440e] {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  width: 100%;
  margin-bottom:35px;
}
.product_details[data-v-3d2b440e] {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  padding: 20px;
}
.rounded_panel[data-v-3d2b440e] {
  width: 90%;
}
.book_covers[data-v-3d2b440e] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1vw;
  width: 90%;
}
.book_covers .book_cover[data-v-3d2b440e] {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.596));
  max-width: 100%;
  height: auto;
}

/*-- Mobile -- */
@media (max-width: 500px) {
#header_panel[data-v-3d2b440e] {
    width: 70vw;
}
#header_panel h1[data-v-3d2b440e] {
    font-size: 22px;
}
.product_details_container[data-v-3d2b440e] {
    width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
}
.product_details[data-v-3d2b440e] {
    width: 86vw;
    grid-template-columns: 1fr;
    padding: 15px;
}
.product_details .rounded_panel[data-v-3d2b440e] {
    height: -moz-fit-content;
    height: fit-content;
    padding: 9px;
    margin: 5px 0px 15px 0px;
    width: 100%;
}
.rounded_panel h1[data-v-3d2b440e] {
    font-size: 12px;
    padding: 3px;
}
.book_covers[data-v-3d2b440e] {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.book_covers .book_cover[data-v-3d2b440e] {
    width: 80px;
    align-self: center;
    justify-self: center;
}
}

/* -- Mobile Large/landscape -- */
@media (min-width: 501px) and (max-width: 1000px) {
.product_details[data-v-3d2b440e] {
  width: 95%;
  padding: 0px;
}
.rounded_panel h1[data-v-3d2b440e] {
    font-size: 14px;
    padding: 5px;
}
.book_covers[data-v-3d2b440e] {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5vw;
    max-width: 100%;
}
.book_covers .book_cover[data-v-3d2b440e] {
    filter: drop-shadow(15px 15px 8px rgba(0, 0, 0, 0.329));
    max-width: 100%;
    height: auto;
}
.product_details_container .popout-spanner:nth-child(odd) .product_details .rounded_panel[data-v-3d2b440e] {
    order: 1;
}
.product_details_container .popout-spanner:nth-child(odd) .product_details .book_covers[data-v-3d2b440e] {
    order: 2;
}
.product_details_container .popout-spanner:nth-child(even) .product_details .rounded_panel[data-v-3d2b440e] {
    order: 2;
}
.product_details_container .popout-spanner:nth-child(even) .product_details .book_covers[data-v-3d2b440e] {
    order: 1;
}
}

/*-- Desktop --*/
@media (min-width: 916px) {
.product_details_container .popout-spanner:nth-child(odd) .product_details .rounded_panel[data-v-3d2b440e] {
    order: 1;
}
.product_details_container .popout-spanner:nth-child(odd) .product_details .book_covers[data-v-3d2b440e] {
    order: 2;
}
.product_details_container .popout-spanner:nth-child(even) .product_details .rounded_panel[data-v-3d2b440e] {
    order: 2;
}
.product_details_container .popout-spanner:nth-child(even) .product_details .book_covers[data-v-3d2b440e] {
    order: 1;
}
}


.login[data-v-62c5f1cc] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.credentials-panel[data-v-62c5f1cc] {
  display: flex;
  width: 100%;
  justify-content: center;
}
.credentials-book[data-v-62c5f1cc] {
  display: flex;
  background-image: url(/BookBound/img/open_book_transparent-removebg-preview.6cbee59c.png);
  background-repeat: no-repeat;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  width: 100%;
  height: 400px;
  filter: drop-shadow(20px 30px 16px rgba(0, 0, 0, 0.329));
}
.form-input-group[data-v-62c5f1cc] {
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 85, 99);
}
.button-container[data-v-62c5f1cc] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.alert[data-v-62c5f1cc] {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: var(--main-font);
  background-color: bisque;
}
.signin-button[data-v-62c5f1cc] {
  transition-duration: 0.4s;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(231, 247, 217);
  font-family: var(--main-font);
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 10px;
  width: 80px;
}
.signin-button[data-v-62c5f1cc]:hover {
  background-color: rgb(115, 147, 126);
}

/* -- Mobile Large/landscape -- */
@media (min-width: 501px) and (max-width: 1000px) {
.content[data-v-62c5f1cc]{
    top:95%;
}
.credentials-panel[data-v-62c5f1cc] {
    width: 75%;
    justify-content: center;
    align-items: center;
}
.credentials-book[data-v-62c5f1cc] {
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 65%;
    height: 300px;
}
}

/* -- Mobile -- */
@media (max-width: 500px) {
.page_header[data-v-62c5f1cc]{
}
.credentials-panel[data-v-62c5f1cc] {
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.credentials-book[data-v-62c5f1cc] {
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100%;
    height: 300px;
}
}


.content[data-v-5f34f488] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.registration-panel[data-v-5f34f488] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(197, 124, 65, 0.356);
  box-shadow: var(--panel-shadow);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  width: 50%;
}
form[data-v-5f34f488] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
form button[data-v-5f34f488] {
  align-self: center;
  margin: 15px;
}
label[data-v-5f34f488] {
  margin: 1px;
  font-size: 21px;
}
input[data-v-5f34f488] {
  margin: 5px;
  font-size: 16px;
}
.toLogin[data-v-5f34f488] {
  text-decoration: underline;
  color: black;
  font-family: "Montserrat", sans-serif;
  align-self: center;
}
.submit[data-v-5f34f488] {
  transition-duration: 0.2s;
  padding: 12px 28px;
  border: 2.5px solid rgb(182, 90, 10);
  background-color: rgba(255, 200, 154, 0.8);
  font-size: 15px;
}
.submit[data-v-5f34f488]:hover {
  background-color: rgb(182, 90, 10);
}

/*-- Mobile --*/
@media (max-width: 500px) {
.registration-panel[data-v-5f34f488] {
    margin-bottom: 25px;
    padding: 10px;
    width: 95%;
}
form button[data-v-5f34f488] {
    align-self: center;
    margin: 15px;
}
label[data-v-5f34f488] {
    font-size: 15px;
}
}


.family-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  background-color: var(--background-color-popout);
  box-shadow: var(--panel-shadow);
  width: 90%;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.family-panel-labels {
  grid-column: 1 / -1;
  display: flex;
}
.family-panel-label {
  width: 100%;
  margin: 0px 25px 0px 65px;
}
.family-panel-label h1 {
  font-family: var(--header-font);
  font-weight: 100;
  font-size: 38px;
  color: var(--font-color);
  padding: 0px;
  margin: 0px;
}
.family-data-panel {
  display: flex;
  background-color: var(--background-color-popout);
  box-shadow: var(--panel-shadow);
  margin: 0px 25px 0px 25px;
  height: 400px;
}
.family-members-panel {
}
.family-member {
  display: flex;
  background-color: var(--background-color-popout);
  box-shadow: var(--panel-shadow);
  margin: 25px;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-orange);
}
.family-member a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: rgb(22, 21, 22);
  font-size: 25px;
}
#nav {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
button {
  transition-duration: 0.25s;
  border: 1.5px solid var(--background-color-green-dark);
  margin: 50px 30px 40px 30px;
  background-color: var(--background-color-green);
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 85, 99);
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}
button:hover {
  background-color: var(--background-color-green-light);
}
a {
  text-decoration: none;
  color: var(--font-color);
}

/*-- Mobile --*/
@media (max-width: 500px) {
.family-panel {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 15px;
    width: 100%;
    padding: 0px;
    margin: 25px 5px 25px 5px;
}
.family-panel-labels {
    flex-direction: column;
    align-items: flex-start;
    grid-row: 1 / -1;
    display: flex;
}
.family-panel-label {
    order:1;
    width: 100%;
    margin: 0px;
}
.family-panel-label h1 {
}
.family-data-panel {
    flex-wrap: wrap;
    margin: 0px 0px 0px 10px;
    height: -moz-fit-content;
    height: fit-content;
    width: 330px;
    padding: 10px;
    order:2;
}
.family-member {
    margin: 15px;
    width: 40%;
    height: 50px;
}
}


.prize-card[data-v-435e8d74] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255 233 187);
  border-radius: 1px;
  min-height: 350px;
  max-height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
  font-family: "Montserrat", sans-serif;
}
p[data-v-435e8d74] {
  margin-bottom: 10px;
  margin-top: 5px;
}
h3[data-v-435e8d74] {
  font-size: 32px;
  margin-bottom: 5px;
}
h4[data-v-435e8d74] {
  margin-top: 5px;
}
button[data-v-435e8d74] {
  margin-top: 25px;
  font-family: sans-serif;
}
.delete-button[data-v-435e8d74] {
  transition-duration: 0.4s;
  width:200px;
  height:40px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom:60px;
  background-color: rgb(231, 247, 217);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size:15px;
}
.delete-button[data-v-435e8d74]:hover {
  background-color: rgb(115, 147, 126);
}


.prizes[data-v-a08e9784] {
  background-color: rgba(254, 209, 113, 0.5);
  color: rgb(88, 85, 99);
  text-align: center;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
.details[data-v-a08e9784] {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: rgb(254 209 113 / 56%);
  gap: 30px;
  padding: 30px;
  align-items: center;
}
button[data-v-a08e9784] {
  margin-top: 35px;
}
h2[data-v-a08e9784] {
  text-align: center;
  font-size: 48px;
}
h3[data-v-a08e9784] {
  font-size: 36px;
}
body[data-v-a08e9784] {
  padding: 25px;
}



.book-card[data-v-152c0043] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: rgb(255 233 187);
  border-radius: 1px;

  min-height: 550px;
  max-height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
}
.book-image[data-v-152c0043] {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.book-image img[data-v-152c0043] {
  padding-top: 5%;
  max-height: 99%;
  max-width: 90%;
  border-radius: 8%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.book-details[data-v-152c0043] {
  text-align: center;
}
.book-details h4[data-v-152c0043] {
  margin-top: 0;
  margin-bottom: 5px;
}
.book-details p[data-v-152c0043] {
  margin: 0;
  margin-bottom: 5px;
}
button[data-v-152c0043] {
  margin-top: 25px;
}
#add-mark-buttons[data-v-152c0043] {
  display: flex;
  justify-content:center;
}
.finished-button[data-v-152c0043] {
  transition-duration: 0.4s;
  width:200px;
  height:60px;
  padding: 12px 28px;
  border: 1px solid rgb(0, 0, 0);
  margin: 50px 30px 40px 30px;
  background-color: rgb(231, 247, 217);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size:15px;
}
.finished-button[data-v-152c0043]:hover {
  background-color: rgb(115, 147, 126);
}
.add-button[data-v-152c0043] {
  transition-duration: 0.4s;
  width:200px;
  height:60px;
  padding: 12px 28px;
  border: 1px solid rgb(0, 0, 0);
  margin: 50px 30px 40px 30px;
  background-color: rgb(165,3,3);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size:15px;
}
.add-button[data-v-152c0043]:hover {
  background-color: rgb(165,3,3);
}


.add-book[data-v-b71b128c] {
  padding: 15px;
  text-align: center;
  background: rgba(254, 209, 113, 0.5);
  font-family: "Montserrat", sans-serif;
}
.results-grid[data-v-b71b128c] {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: rgb(254 209 113 / 56%);
  gap: 30px;
  padding: 30px;
}
button[data-v-b71b128c] {
  font-family: sans-serif;
}
input[data-v-b71b128c] {
  margin: 10px;
}
.selections[data-v-b71b128c] {
  transition-duration: 0.4s;
  width:200px;
  height:60px;
  padding: 12px 28px;
  border: 1px solid rgb(0, 0, 0);
  margin: 50px 30px 40px 30px;
  background-color: rgb(231, 247, 217);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size:15px ;
}
.selections[data-v-b71b128c]:hover {
  background-color: rgb(115, 147, 126);
}


.results[data-v-bedb4cbe] {
  background: rgb(254, 209, 113);
  color: rgb(88, 85, 99);
  font-family: "Libre Baskerville";
  text-align: center;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
h2[data-v-bedb4cbe] {
  text-align: center;
  font-size: 48px;
}
h3[data-v-bedb4cbe] {
  font-size: 36px;
}
body[data-v-bedb4cbe] {
  padding: 25px;
  background: rgba(254, 209, 113, 0.5);
}


.activity-page[data-v-8d2f211e] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reading-activity[data-v-8d2f211e] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Socake", sans-serif;
  font-size: 35px;
  color: rgb(88, 85, 91);
  background: rgba(115, 147, 126, 0.7);
  border: solid 3px;
  border-color: rgb(115, 147, 126);
  border-radius: 4px;
  height: 45px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.activity-list[data-v-8d2f211e] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  flex-wrap: wrap;
  font-weight: 900;
  color: rgb(30 29 30);
  background: rgb(241 106 106);
  border: solid 3px;
  border-color: rgb(209 20 20);
  border-radius: 4px;
  width: 230px;
}
.list-boxes[data-v-8d2f211e] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.headerForActivity[data-v-8d2f211e] {
  padding-left: 275px;
}
.activity-button[data-v-8d2f211e] {
  margin-left: 350px;
}
.form-input-group-reading[data-v-8d2f211e] {
  margin-left: 295px;
}



.page {
  font-family: "Socake", sans-serif;
  color: rgb(88, 85, 91);
  font-size: 50px;
}
.users {
  background: rgba(254, 209, 113, 0.5);
}
.addReadingActivity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(232, 123, 31, 0.8);
  padding-top: 30px;
  width: 900px;
  height: 350px;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 3px rgb(182, 90, 10);
  font-family: "Socake", sans-serif;
  color: rgb(88, 85, 91);
  font-size: 20px;
}
*/.reading-totals {
  background-color: rgba(254, 209, 113, 0.5);
  padding: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
.reading-list {
  color: rgb(88, 85, 99);
  text-align: center;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}
.reading-list-grid {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: rgb(254 209 113 / 56%);
  gap: 30px;
  padding: 30px;
}
.totals {
  margin-bottom: 0;
  display: grid;
}
#currently-reading-header {
  background: rgb(115, 147, 126);
  grid-row: 1;
  grid-column: 2;
  color: rgb(88, 85, 91);
  font-family: "Socake", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  text-align: center;
  padding-top: 50px;
  width: 350px;
  margin: 40px auto;
  border: 3px solid rgb(77, 97, 84);
}
#title-books-read {
  background: rgb(115, 147, 126);
  grid-row: 1;
  grid-column: 3;
  color: rgb(88, 85, 91);
  font-family: "Socake", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  height: 80px;
  text-align: center;
  padding-top: 50px;
  width: 350px;
  margin: 40px auto;
  border: 3px solid rgb(77, 97, 84);
}
#title-mins {
  background: rgb(115, 147, 126);
  grid-row: 1;
  grid-column: 1;
  color: rgb(88, 85, 91);
  font-family: "Socake", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  height: 80px;
  text-align: center;
  padding-top: 50px;
  width: 350px;
  margin: 40px auto;
  border: 3px solid rgb(77, 97, 84);
}
#number-mins {
  height: 60px;
  background: rgb(115, 147, 126);
  grid-row: 2;
  grid-column: 1;
  color: rgb(88, 85, 91);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  border-radius: 25px;
  text-align: center;
  padding-top: 25px;
  width: 200px;
  margin: 0 auto 20px auto;
  border: 3px solid rgb(77, 97, 84);
}
#number-books-read {
  background: rgb(115, 147, 126);
  grid-row: 2;
  grid-column: 3;
  color: rgb(88, 85, 91);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  border-radius: 30px;
  text-align: center;
  padding-top: 25px;
  width: 200px;
  margin: 0 auto 20px auto;
  border: 3px solid rgb(77, 97, 84);
}
.usersname {
  font-family: "Socake", sans-serif;
  color: rgb(88, 85, 91);
  font-size: 50px;
}
.user-head {
  border: solid 3px;
  border-color: rgb(115, 147, 126);
  background: rgba(115, 147, 126, 0.7);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 250px;
}
ul {
  list-style: none;
}
.logo-user {
  width: 300px;
  height: 350px;
  padding-top: 30px;
  margin-left: 15px;
}
.activity-button {
  transition-duration: 0.4s;
  width: 200px;
  height: 60px;
  padding: 12px 28px;
  border: 1px solid rgb(0, 0, 0);
  margin: 50px 30px 40px 30px;
  background-color: rgb(244, 252, 172);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size: 15px;
}
.activity-button:hover {
  background-color: rgb(255, 191, 16);
}
.add-activity{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}


label {
  margin-right: 15px;
  margin-left: 15px;
}
button {
  margin-bottom: 20px;
}


.header {
  font-family: "Montserrat", sans-serif;
}
.addMember {
  background: rgb(115, 147, 126);
}
.header {
  background: rgb(115, 147, 126);
  margin: 0px auto 60px auto;
  text-align: center;
  padding-top: 30px;
  color: rgb(59, 57, 66);
}
.members_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  background: rgb(115, 147, 126);
}
.form-input-group {
  display: flex;
  border: solid, 1px, black;
  margin-bottom: 1rem;
  color: rgb(59, 57, 66);
  font-weight: bold;
  font-size: 20px;
}
.add_label {
  font-family: "Montserrat", sans-serif;
}
.behind_form_text {
  background: rgba(232, 123, 31, 0.8);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: flex-start;
  width: 900px;
  height: 350px;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 3px rgb(182, 90, 10);
}
.running_board {
  display: flex;
  background: rgb(115, 147, 126);
  height: 95px;
  margin: 300px 0 0 0;
}
.add-member-button {
  transition-duration: 0.4s;
  border: 1px solid rgb(182, 90, 10);
  margin: 50px 30px 40px 30px;
  background-color: rgb(248, 150, 64);
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 85, 99);
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}
.add-member-button:hover {
  background-color: rgb(182, 90, 10);
}

.prize-button[data-v-25c97626] {
  transition-duration: 0.4s;
  width:200px;
  height:40px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom:60px;
  background-color: rgb(244, 252, 172);
  font-family: "Montserrat", sans-serif;
  color: rgb(48, 46, 49);
  font-weight: bold;
  font-size:15px;
}
.prize-button[data-v-25c97626]:hover {
  background-color:  rgb(255, 191, 16);
}


#addPrize {
  background: rgb(115, 147, 126);
}
.prize-header {
  font-family: "Socake", sans-serif;
  background: rgb(244, 252, 172);
  border: solid 2px rgb(248, 226, 102);
  border-radius: 4px;
  margin: 0px auto 60px auto;
  text-align: center;
  padding-top: 30px;
  color: rgb(88, 85, 99);
  height: 120px;
  font-size: 50px;
}
.prize-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}
.form-input-group-prize {
  display: flex;
  border: solid, 1px, black;
  margin-bottom: 1rem;
  color: rgb(88, 85, 99);
  font-weight: bold;
  font-size: 20px;
}
.prize-label {
  font-family: "Montserrat", sans-serif;
}
.behind-prize-form-text {
  background: rgba(232, 123, 31, 0.8);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: flex-start;
  width: 900px;
  height: 350px;
  justify-content: space-between;
  border-radius: 8px;
  border: solid 3px rgb(182, 90, 10);
  margin-left: 450px;
}
.run {
  display: flex;
  background: rgb(115, 147, 126);
  height: 90px;
  padding-top: 260px;
}
label {
  font-family: "Montserrat", sans-serif;
}
.prize-button {
  transition-duration: 0.4s;
  border: 1px solid rgb(255, 191, 16);
  margin: 50px 30px 40px 30px;
  background-color: rgb(244, 252, 172);
  font-family: "Montserrat", sans-serif;
  color: rgb(88, 85, 99);
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  width: 100px;
  height: 40px;
}
.prize-button:hover {
  background-color: rgb(255, 191, 16);
}

.about-us[data-v-3cd5cd38]{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_container[data-v-3cd5cd38] {
  display: flex;
  margin-top: 50px;
  width: 80%;
}
.profile[data-v-3cd5cd38] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a[data-v-3cd5cd38] {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
i[data-v-3cd5cd38] {
  color: cornflowerblue;
}
img[data-v-3cd5cd38] {
  border-radius: 50%;
}
.name[data-v-3cd5cd38] {
  font-family: "Socake", sans-serif;
  font-size: 36px;
  margin: 0 auto;
}
.location[data-v-3cd5cd38]{
  font-style: italic;
  text-align: center;
  transform: translate(0px, -10px);
}
.profile img[data-v-3cd5cd38] {
  width: 300px;
  border: black;
  border-width: 5px;
  border-style: solid;
}
.rounded_panel[data-v-3cd5cd38] {
  width: 80%;
  height: 130px;
  padding:5px;
  margin:5px;
}
.location_panel[data-v-3cd5cd38]{
  height:50px;
  padding:0px;
}



/* -- Mobile Large/landscape -- */
@media (min-width: 501px) and (max-width: 1000px) {
.profile_container[data-v-3cd5cd38] {
  display: flex;
  flex-wrap:wrap;
  margin-top: 50px;
  width: 100%;
}
.profile[data-v-3cd5cd38] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 25px;
}
}

/*-- Mobile Small -- */
@media (max-width: 500px) {
.profile_container[data-v-3cd5cd38] {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.profile[data-v-3cd5cd38] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
}

