@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.cdnfonts.com/css/socake");



:root {
    --background-color: rgba(254, 209, 113, 0.5);
    --background-color-green: rgb(115, 147, 126);
    --background-color-green-mute: rgba(115, 147, 126, 0.7);

    --main-font: "Montserrat", sans-serif;
    --header-font: "Socake", sans-serif;
    --font-color: rgb(48, 46, 49);
    --font-size: ;

    --panel-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);

}

.floating { 
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    z-index:2;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0px, 15px); }
    100%   { transform: translate(0, -0px); }   
}